# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
*.egg-info/
dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Virtual Environment
venv/
.env